server {
	listen 443 ssl http2;

	root /usr/share/gitweb/;
	index index.cgi index.html index.htm;

	ssl_certificate /etc/ssl/certs/nginx.crt;
	ssl_certificate_key /etc/ssl/private/nginx.key;
	ssl_protocols TLSv1.3;

	keepalive_timeout 60;

	location / {
                auth_basic "GitWeb Secure Access";
                auth_basic_user_file /usr/share/gitweb/.htpasswd;
	}

	location ~ \.cgi$ {
		include fastcgi_params;
		fastcgi_index index.cgi;
		fastcgi_param GITWEB_CONFIG /etc/gitweb.conf;
		fastcgi_param SCRIPT_NAME $uri;
		fastcgi_pass unix:/var/run/fcgiwrap.sock;
		gzip off;
	}

	add_header X-Frame-Options SAMEORIGIN;
	add_header X-Content-Type-Options nosniff;
}

